/* General */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
	color: #373f51;
	text-align: center;
}

/*hamburger*/

.hamburger-icon {
	position: fixed;
	right: 5px;
	top: 5px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.hamburger-icon:hover+.hamburger-menu {
	transition: all 0.3s linear;
	display: block;
}

.hamburger-menu:hover {
	transition: all 0.3s linear;
	display: block;
}

.hamburger-icon hr {
	width: 30px;
	border: 3px solid #373f51;
	border-radius: 5px;
	background-color: #373f51;
	margin: 3px;
}

.hamburger-menu {
	transition: all 0.3s linear;
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	background-color: #373f51;
}

.hamburger-menu * {
	transition: all 0.3s linear;
	color: #D8DBE2;
	font-size: 1.1em;
	/* text-align: right; */
}

.hamburger-menu li {
	padding: 20px;
}

.hamburger-menu li:hover {
	transition: all 0.3s linear;
	background-color: #D8DBE2;
}

.hamburger-menu li:hover a {
	color: #373f51;
}

/*home page*/

#home-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #373f51;
}

#home-page * {
	color: #D8DBE2;
}

.home-course {
	font-size: 1em;
}

.home-subtitle {
	font-size: 1.3em;
	margin: 30px;
}

.home-cross {
	width: 30px;
}

.home-cross img {
	width: 100%;
}

.home-title {
	font-size: 2em;
	font-weight: 700;
	margin: 30px;
}

.home-name {
	font-size: 1.2em;
}

/*down-arrow*/

.down-arrow {
	position: absolute;
	bottom: 30px;
	width: 30px;
}

.down-arrow img {
	width: 100%;
}

/*-----------------------------------------------------/
/*catalog page*/

#catalog-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #D8DBE2;
}

.catalog-title {
	font-size: 2em;
}

.content-items {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin: 20px 30px 140px 30px;
}

.content-items p {
	cursor: pointer;
	display: block;
	margin: 30px 50px;
	font-size: 1.3em;
}

.content-number {
	background-image: url(../images/circle.png);
	background-position: center;
	background-size: 100%;
}

.content-text {
	transition: all 0.3s ease;
	writing-mode: vertical-rl;
	text-align: left;
}

.content-text:hover {
	transition: all 0.3s ease;
	transform: scale(1.1);
	text-shadow: -1px 1px 2px #373f51;
}

/*page section mode*/

.page-section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #D8DBE2;
}

.page-section hr {
	background-color: #373f51;
	border: 0px solid #373f51;
	width: 100%;
	height: 10px;
}

.section-start {
	width: 40%;
	align-self: flex-start;
}

.section-start>div:first-child {
	text-align: left;
	font-size: 2em;
	margin: 10px 40px;
}

.section-end {
	width: 30%;
	align-self: flex-end;
}

/*about me*/

.about-me-content {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 80%;
	margin: -90px 10%;
}

.about-me-images {
	width: 30%;
	margin: 0%;
	padding: 30px;
}

.about-me-images img {
	width: 100%;
	border-radius: 50%;
}

.about-me-text {
	width: 40%;
	font-size: 1.3em;
	text-align: left;
	padding: 30px;
}

.about-me-contact {
	width: 30%;
	font-size: 1.3em;
	text-align: left;
	padding: 30px;
	align-self: start;
}

/*assessment-reflection*/

.assessment-reflection-content {
	width: 90%;
	margin: 20px 5%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.assessment-reflection-menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 10%;
}

.assessment-reflection-menu li {
	transition: all 0.2s linear;
	padding: 20px;
	text-shadow: 1px 1px 2px #373f51;
	cursor: pointer;
}

.assessment-reflection-menu li a {
	font-size: 1.2em;
}

.assessment-reflection-menu li:hover {
	transition: all 0.2s linear;
	text-shadow: 0px 0px 0px #373f51;
}

/*assessment-reflection-text*/

.assessment-reflection-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 90%;
	height: 450px;
	overflow-y: scroll;
}

.assessment-reflection-journal{
	text-align: left;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 10%;
	width: 70%;
	height: 450px;
}

.assessment-reflection-reflection{
	text-align: left;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 10%;
	width: 70%;
	height: 450px;
}

.assessment-reflection-text::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px #A9BCD0;
	background-color: #A9BCD0;
}

.assessment-reflection-text::-webkit-scrollbar {
	width: 6px;
	background-color: #A9BCD0;
}

.assessment-reflection-text::-webkit-scrollbar-thumb {
	background-color: #373f51;
}

.assessment-reflection-text * {
	text-align: left;
}

.assessment-reflection-text>div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.assessment-reflection-text>div>p {
	display: block;
	width: 70%;
}

.assessment-text-images {
	width: 50%;
}

.assessment-text-images img {
	width: 90%;
	margin: 10px 5%;
}

.pictures-paragraph {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 80%;
}

.pictures-paragraph img{
	width: 25%;
	margin: 1%;
}

#arrow{
	width: 40%;

}

/*ideation*/
.ideation-content{
	width: 80%;
	margin: 0 10%;
	height: 450px;
	overflow: auto;
	display: flex;
	flex-direction: row;
}

.ideation-content div{
	padding: 50px;
	width: 60%;
}

.ideation-content img{
	width: 40%;
	height: 80%;
}

.course-content div{
	text-align: left;
	margin: 10px 10%;
	width: 80%;
}














/*footer*/
.page-footer{
	width: 100%;
	background-color: #373f51;
}

.page-footer *{
	font-size: 1.3em;
	padding: 10px;
	text-align: right;
	color: #D8DBE2;
}
